/* p {
  color: black;
}

.coin-image {
  height: 20px;
  width: auto;
  margin-right: 8px;
}

.coin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
}



.red {
  color: red;
}

.green {
  color: rgb(35, 252, 35);
} */

p {
  color: black;
}

.coin-image {
  height: 20px;
  width: auto;
  margin-right: 8px;
}

.coin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 20px 0px -16px 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 70vw;
}

.coin-description {
  display: flex;
  align-items: center;
}

.red {
  color: red;
}

.green {
  color: rgb(35, 252, 35);
}
