/* p {
  color: black;
}

.coin-image {
  height: 20px;
  width: auto;
  margin-right: 8px;
}

.coin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
}



.red {
  color: red;
}

.green {
  color: rgb(35, 252, 35);
} */

p {
  color: black;
}

.coin-image {
  height: 20px;
  width: auto;
  margin-right: 8px;
}

/* .coin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 20px 0px -16px 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 70vw;
} */

.coin-row {
  display: flex;
  justify-content: space-between;
  align-items: left;
  border-bottom: 1px solid rgb(219, 208, 208);
  padding: 10px 15px;
  margin: 20px 0px -16px 20px;
  width: 70vw;
}

.coin-description {
  width: 10px;
  align-items: center;
}

.last-price {
  margin-left: 60px;
}

.red {
  color: red;
  float: left;
}

.green {
  color: rgb(35, 252, 35);
}

@media screen and (max-width: 900px) {
  .coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(219, 208, 208);
    padding: 10px 15px;
    margin: 20px 0px -16px 20px;
    width: 60vw;
  }
}

@media screen and (max-width: 500px) {
  .coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin: 20px 0px -16px -20px;
    border-bottom: 1px solid rgb(226, 226, 226);
    width: 80vw;
  }
}
